/SARXOS/webcam-capture-javafx/target/
/SARXOS/webcam-capture-javafx-fxml/target/
/WebCamCapture/target/
/WebCamCaptureBytedeco/target/
/Crop and correction image/nbproject/private/
/SARXOS/webcam-capture-javafx-service/target/
/webcam-capture-qrcode/target/
/WebCamTest/target/
/JavaFX ImageView/nbproject/private/
/JavaFX ImageView Bytedeco And Marvin/nbproject/private/
/JavaFX ImageView Bytedeco And Marvin/build/
/JavaFX ImageView Bytedeco And Marvin/dist/