/SARXOS/webcam-capture-javafx/target/
/SARXOS/webcam-capture-javafx-fxml/target/
/WebCamCapture/target/
/WebCamCaptureBytedeco/target/
/Crop and correction image/nbproject/private/
/SARXOS/webcam-capture-javafx-service/target/
/webcam-capture-qrcode/target/
/WebCamTest/target/
/JavaFX ImageView/nbproject/private/
/JavaFX ImageView Bytedeco And Marvin/nbproject/private/
/JavaFX ImageView Bytedeco And Marvin/build/
/JavaFX ImageView Bytedeco And Marvin/dist/
/MARVIN/Sample Application/nbproject/private/
/MARVIN/Sample Application/build/
/MARVIN/Sample Application/dist/
/1709/FileViewer/nbproject/private/
/1709/FileViewer/build/
/1709/FileViewer/dist/
/1710_iTextTest/nbproject/private/
/1710_iTextTest/target/